
* {
	box-sizing: border-box;
  text-align: center;
}
body {
  background-image: url('bg2.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;  
  background-size: cover;
}
ul {
  display: contents;
  padding: 0;
  list-style: none;
}


h2, h3, a {
	color: #000000;
}

.logo {
	margin: 0;
	font-size: 20px;
}

.main-nav {
	margin-top: 5px;

}
.logo a, .main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: initial;
  color: white;
}

.main-nav a {
	color: white;
	font-size: 12px;
}

.main-nav a:hover {
	color: #ff0022;
}



.header {
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #008d42;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
  text-decoration: none;
}


/* ================================= 
  Media Queries
==================================== */




@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		align-items: center;
		margin: 0 auto;
        	
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}
    

.left {
    background-color: aqua;
    border-radius: 10px;
    margin: 0;

}
.tickcontainer{
  
  width: 500px;
  background:  #ffffff;
  border-radius: 10px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, .2);
  overflow: hidden;
  text-transform: uppercase;  
  position: relative;
  top: 20px;
  left: 35%;
  margin: 1px;
  border: 1px solid #000000;
  text-align: center;
}
form{
  margin: 20px;
  text-align: center;
  background-color: whitesmoke;
}

.formsearch {
  margin: 10px;
  text-align: end;
}

.form-btn {
  text-align: center;
  font-size: 15px;
}

.container {
	border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	min-height: 480px;
  padding-top: 15px;
  padding-bottom: 10px;
}

.list {
	border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow-y: auto; 
	min-height: 480px;
  margin: 20px;
}

.content{
  top: 50%;
  left: 50%;
  z-index: -1;
  text-align: center;
  width: 100%;
  color: #202020;
}
.content .title{
  font-size: 40px;
  font-weight: 700;
}
.content p{
  font-size: 35px;
  font-weight: 600;
}


label{
  font: initial;
  display: inline-block;
}
.table>:not(caption)  {
  padding: 0.5rem 0.5rem;
  background-color: white;
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
  border: solid 1px;
  font-size: 12px;
  text-align: center;
}
.table>thead {
  background-color: #006b32fa;
  margin-top: 10px;
}
.table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: left;
  padding: 7px;
  text-align: center;
  border: solid white;
  border-radius: 2px;
}
tr {
  border-color: #000000;
  border-style: solid;
  border-width: 0;
}

tr:nth-child(even) {
  background-color: #e3e2e2;
}
.topnavacc a {
  color: white;
  text-align: center;
  margin: 24px;
  text-decoration: none;
  padding: 10px;
  background-color: green;
  margin-top: 23px;
  font-family:'Courier New', Courier, monospace;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  margin: 10px;
  text-decoration: none;
  padding: 10px;
  background-color: green;
}
.topnav p {
   display: block;
    color: white;
    text-align: center;
    margin: 10px;
    text-decoration: none;
    padding: 10px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav input[type=text] {
  padding: 6px;
  margin: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  padding: 2px;
  background: #ddd;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
  z-index: 1000;
    position: fixed;
    width: 250px;
    height: 100%;
    margin-left: 690px;
    overflow-y: auto;
    background: #37474F;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: absolute;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
    text-align: left;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}

h2 title {
  float: inline-start;

}
div.list {
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  position: relative;
  overflow: hidden;
  min-height: 680px;
  margin: 10px;
  background-color: #e9ecef;
  overflow-y: auto;
}
.viewport {
  padding-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.sidebar {
  z-index: 1000;
  position: fixed;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #37474F;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: absolute;
}

.sidebar header {
  background-color: #263238;
  font-size: 20px;
  text-align: center;
  color:white;
}

.sidebar header a {
  color: #fff;
  display: block;
  text-decoration: none;
}

.sidebar header a:hover {
  color: #fff;
}


.sidebar .nav a{
  background: none;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 67px;
  margin: 10px;

}

.sidebar .nav a:hover{
  background: none;
  color: #ECEFF1;
}

.sidebar .nav a i{
  margin-right: 16px;
}

.sidebar .nav2 a{
  background: none;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
}

.sidebar .nav2 a:hover{
  background: none;
  color: #ECEFF1;
}

.sidebar .nav2 a i{
  margin-right: 16px;
}
.filters .listed {
  text-align: center;
  padding: 5px;
  border-radius: 3px;
  width: 180px;
  background: white;
  color: black;
  border: 2px solid; 
  padding: 1px; 
}
.btn {
  font-size: 10px;
}

.table .btn{
  font-size: 9px;
  padding: 5px;

}

.list .input {
  padding: 20px;
  border: solid 1px black;
}

.table-wrapper {
  background: #fff;
  padding: 20px 25px;
  margin: 30px 0;
border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {        
padding-bottom: 15px;
background: #435d7d;
color: #fff;
padding: 16px 30px;
margin: -20px -25px 10px;
border-radius: 3px 3px 0 0;
}
.table-title h2 {
margin: 5px 0 0;
font-size: 24px;
}
.table-title .btn-group {
float: right;
}
.table-title .btn {
color: #fff;
float: right;
font-size: 13px;
border: none;
min-width: 50px;
border-radius: 2px;
border: none;
outline: none !important;
margin-left: 10px;
}
.table-title .btn i {
float: left;
font-size: 21px;
margin-right: 5px;
}
.table-title .btn span {
float: left;
margin-top: 2px;
}
table.table tr th, table.table tr td {
  border-color: #e9e9e9;
padding: 12px 15px;
vertical-align: middle;
}
table.table tr th:first-child {
width: 60px;
}
table.table tr th:last-child {
width: 100px;
text-align: center;
}
table.table-striped tbody tr:nth-of-type(odd) {
background-color: #fcfcfc;
}
table.table-striped.table-hover tbody tr:hover {
background: #f5f5f5;
}
table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}	
table.table td:last-child i {
opacity: 0.9;
font-size: 22px;
  margin: 0 5px;
}
table.table td a {
font-weight: bold;
color: #566787;
display: inline-block;
text-decoration: none;
outline: none !important;
}
table.table td a:hover {
color: #2196F3;
}
table.table td a.edit {
  color: #FFC107;
}
table.table td a.delete {
  color: #F44336;
}
table.table td i {
  font-size: 19px;
}
table.table .avatar {
border-radius: 50%;
vertical-align: middle;
margin-right: 10px;
}
.pagination {
  float: right;
  margin: 0 0 5px;
}
.pagination li a {
  border: none;
  font-size: 13px;
  min-width: 30px;
  min-height: 30px;
  color: #999;
  margin: 0 2px;
  line-height: 30px;
  border-radius: 2px !important;
  text-align: center;
  padding: 0 6px;
}
.pagination li a:hover {
  color: #666;
}	
.pagination li.active a, .pagination li.active a.page-link {
  background: #03A9F4;
}
.pagination li.active a:hover {        
  background: #0397d6;
}
.pagination li.disabled i {
  color: #ccc;
}
.pagination li i {
  font-size: 16px;
  padding-top: 6px
}
.hint-text {
  float: left;
  margin-top: 10px;
  font-size: 13px;
}  
.wrepper{
  width: 700px;
  padding-left: 10px;
  padding-bottom: 10px;
  text-align: center;
}  
.deg {
  background-color: skyblue;
  width: 500px;
  padding-top: 70px;
  padding-bottom: 70px;
  display: inline-block;
}

input, textarea, select {
	box-sizing: border-box;
	width: 200px;
	height: initial;
	padding: 8px 5px;
	border: 1px solid #9a9a9a;
	border-radius: 4px;
}

input[type="checkbox"] {
	width: auto;
	vertical-align: text-bottom;
}

textarea {
	width: 300px;
}

select {
	display: initial;
	height: 30px;
	padding: 2px 5px;
}

button, input[type=submit] {
	padding: 8px 0px;
	font-size: 1em;
	cursor: pointer;
	border-radius: 25px;
	color: #000000;
	background-color: #ffc72c;
	border-color: #ffd98e #ffbe3d #de9300;
}

input[type=submit]:hover {
	background-color: #f7c027;
}

::placeholder {
	color: #bdbfc4;
}

label {
	display: block;
	color: #565656;
}
.phppot-container {
	width: 740px;
	margin: 20 auto;
	padding: 0px 20px 0px 20px;
}

.row {
	padding: 6px 0 6px 0;
}

.label {
	color: #565656;
	margin-bottom: 2px;
}

.card {
	padding: 1rem 2rem;
	border-radius: 4px;
	background: var(- -bg-color);
	box-shadow: 0 1px 3px #747681;
}
  
#phppot-message {
	padding: 6px 20px;
	font-size: 1em;
	color: rgb(40, 40, 40);
	box-sizing: border-box;
	margin: 0px;
	border-radius: 3px;
	width: 100%;
	overflow: auto;
}

.error {
	padding: 6px 20px;
	border-radius: 3px;
	background-color: #fb817c;
	border: 1px solid #e46b66;
}

.success {
	background-color: #48e0a4;
	border: #40cc94 1px solid;
}

.validation-message {
	color: #e20900;
}

.font-bold {
	font-weight: bold;
}

.display-none {
	display: none;
}

.inline-block {
	display: inline-block;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.full-width {
	width: 100%;
}

.cursor-pointer {
	cursor: pointer;
}

.mr-20 {
	margin-right: 20px;
}

.tile-container {
	width: 240px;
	border: #9a9a9a 1px solid;
	border-radius: 3px;
	padding: 10px 20px 10px 20px;
}

@media all and (max-width: 780px) {
	.phppot-container {
		width: auto;
	}
}

@media all and (max-width: 400px) {
	.phppot-container {
		padding: 0px 20px;
	}
	.tile-container {
		width: auto;
	}
	input, textarea, select {
		width: 100%;
	}
}
th {
  text-align: center;
}
.feedback {
  padding: 20px;
  background-color: white;

}

.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}