.report {
    float: right;
    width: 700px;
    position: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    margin-right: 10px;
    border: 3px solid #37474F;
    border-radius: 10px;
}
.report-image {
    padding: 160px;
    
}

.data {
    float: left;
    width: 500px;
    border: 10px ;
    position: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    margin-left: 10px;
    border: 3px solid #37474F;
    border-radius: 10px;
}

